body {
    background-color: #f5f5f7;
    margin: 0 0 100px 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    image-rendering: optimizeSpeed;
    /*                     */
    image-rendering: -moz-crisp-edges;
    /* Firefox             */
    image-rendering: -o-crisp-edges;
    /* Opera               */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and Safari) */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE8+                */
}

section,
div,
h1,
h2,
iframe {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: block;
}

iframe {
    border: 1px solid #00bab3;
    background-color: #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    background-color: #ffffff;
    padding: 30px 0;
    border-bottom: 2px solid #147bd1;
}

.unselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'sofia-pro', 'Roboto', 'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #333f48;
    font-weight: bold;
    background-color: initial !important;
    text-align: center;
}

h1.unselect {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}

h1 img {
    height: 35px;
    width: auto;
    vertical-align: middle;
    padding-right: 20px;
    padding-bottom: 7px;
    border-right: 2px solid #333f48;
}

h1 span {
    font-size: 20px;
    line-height: 20px;
    color: #f5f5f7;
    font-weight: bold;
    padding-left: 10px;
}

div.button {
  background: #147bd1;
  display: block;
  width: 100%;
  margin: 50px auto 15px auto;
}

h2.unselect {
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    color: #f5f5f7;
    font-weight: normal;
    cursor: pointer;
    padding: 10px 20px;
}

h2 span.primaryhead::after {
    content: "→";
    width: 0;
    opacity: 0;
    font-weight: bold;
    color: #f5f5f7;
    display: inline-block;
    transition: 0.3s;
}

h2:hover {
    transition: 0.1s;
    color: #333f48;
}

.button:hover {
    transition: 0.1s;
    background: #6cace4;
}

h2:hover span.primaryhead::after {
    content: "→";
    width: 30px;
    opacity: 1;
    color: #333f48;
    display: inline-block;
    transition: 0.3s;
}

h2 .subhead {
    font-size: 18px;
    line-height: 28px;
    color: #f5f5f7;
    position: relative;
    bottom: 3px;
    margin-left: 5px;
}

h2 .primaryhead {
    transition: 0.3s;
}

.dep-inner {
    display: none;
}

div.unselect {
  padding: 50px 0 15px 0;
}

.dep-outer {
  background: #c1c5c8;
}

.dep-inner {
  width: 80%;
}

footer {
    background: #F3F5F6;
    position: fixed;
    bottom: 0;
    margin: 0 auto !important;
    display: block;
    width: 100%;
    z-index: 9999;
}

footer p {
    background: #F3F5F6;
    font-family: 'proxima_nova', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 25px;
    padding: 20px;
    margin: 0;
    color: #7E8B9B;
    text-align: center;
    font-weight: normal;
}

@media only screen and (max-width: 370px) {
  h1 img {
      border-right: 0;
      padding-bottom: 10px;
  }
}
